@import '~mapbox-gl/dist/mapbox-gl.css';
@import url("https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.css");

@import '~bulma';
@import '~bulma-extensions/dist/css/bulma-extensions.min.css';

@charset "utf-8";

// @import 'bulma.sass';
// @import "bulmaCalendar.sass";

div.map-libraries {
  width: 100vw;
  height: calc(100vh - 3.25rem);
}

.backgroundHero {
  height: 500px;
  background-image: url(http://www.orjon.com/dev/booker/images/hero/bookshelf2-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#root > div > nav {
  background-color: #246cc1;
}


h1.title {
  color: black;
  font-size: 3rem;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}
h5 {
  font-size: 14px;
  font-weight: 600;
}
h6 {
  font-size: 12px;
}

hr {
  margin: 1rem 0px;
  background-color: #d6e8ff;
}

.radio {
  padding-right: 7px;
}

.card-header {
  box-shadow: 0;
}


.switch {
  margin-top: 10px;
}

.is-horizontal-center {
  justify-content: center;
}

img.max-image-on-card {
  max-height: 275px;
}


.bookCoverWrapper {
  max-height: 75vh;
}

#bookCoverImage{
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.bookDescription {
  text-align: justify;
}

.bookReviews {
 text-align: justify;
}

.button-add-book {
  margin-right:1.5rem
}

.marker-libraries {
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-libraries:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: -1;
  border-radius: 50% 50% 0 50%;
  transform: rotate(45deg);
}

.marker-user-library {
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-user-library:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: blue;
  z-index: -1;
  border-radius: 50% 50% 0 50%;
  transform: rotate(45deg);
}

div.map-register {
  width: 600px;
  height: 300px
}

#librarypic {
  max-width: 600px;
  max-height: 500px;
}

#btndeleteuser {
  margin-left: 20px;
}


#userform {
  margin-left: 10%;
}
