@import '~mapbox-gl/dist/mapbox-gl.css';
@import url("https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.css");

@import '~bulma';
@import '~bulma-extensions/dist/css/bulma-extensions.min.css';

div.map-libraries {
  width: 100vw;
  height: calc(100vh - 3.25rem);
}

.backgroundHero {
  height: 500px;
  background-image: url(http://www.orjon.com/dev/booker/images/hero/bookshelf2-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1.title {

  color: black;
  font-size: 3rem;
}

.radio {
  padding-right: 7px;
}

.switch {
  margin-top: 10px;
}

.bookCoverWrapper {
  max-height: 75vh;
}

#bookCoverImage{
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.bookDescription {
  text-align: justify;
}

.marker-libraries {
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-add-book {
  margin-right:1.5rem
}

.marker-libraries:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: -1;
  border-radius: 50% 50% 0 50%;
  transform: rotate(45deg);
}

div.map-register {
  width: 600px;
  height: 300px
}
